## Icebreaker: Using a decision tree to predict the type of computer a student owns.

## Importing libraries

In [1]:
from sklearn import tree
import numpy as np
import pandas as pd 
from IPython.display import display, Image

## Importing dataset

In [14]:

in_file = 'students.csv'
students = pd.read_csv(in_file)

print("Number of students: {}".format(len(students)))

display(students.head(1))

Number of students: 21

,Timestamp,name,why_nanodegree,something_interesting,price,configurations,gaming,security,designing,type_of_computer
0,2/11/2017 10:29:43,ganesh,want to obtain hands on experience,NaN,2,2,2,1,1,mac

## Separating test dataset

In [5]:
train_data = students[(students.name != 'Subhakar') & (students.name != 'Radesh')]
test_data = students[(students.name == 'Subhakar') | (students.name == 'Radesh')]

print("Training dataset size:{}".format(len(train_data)))
display(train_data.head(1))

print("Testing dataset size:{}".format(len(test_data)))
display(test_data.head(2))

Training dataset size:19

,Timestamp,name,why_nanodegree,something_interesting,price,configurations,gaming,security,designing,type_of_computer
0,2/11/2017 10:29:43,ganesh,want to obtain hands on experience,NaN,2,2,2,1,1,mac

Testing dataset size:2

,Timestamp,name,why_nanodegree,something_interesting,price,configurations,gaming,security,designing,type_of_computer
10,2/11/2017 10:34:01,Subhakar,Understand the workings of Machine Learning,Applying machine learning to network management,2,1,2,2,1,pc
18,2/11/2017 10:35:12,Radesh,interesting field to get in.,like to run long distance,2,2,2,2,2,mac

## Remove columns

In [6]:

train_data = train_data.drop(['Timestamp', 'name','why_nanodegree','something_interesting'], axis=1)

display(train_data.head(5))

   price  configurations  gaming   security  designing type_of_computer
0      2               2        2         1          1              mac
1      1               2        2         2          2              mac
2      2               2        2         2          1               pc
3      1               2        2         1          2              mac
4      1               1        2         1          2              mac

## Separating the target variable - training data

In [7]:
train_target = train_data['type_of_computer']
train_predictors = train_data.drop('type_of_computer', axis = 1)

print("Target dataset size:{}".format(len(train_target)))
display(train_target.head(5))

print("\nPredictor dataset size:{}".format(len(train_predictors)))
display(train_predictors.head(1))

Target dataset size:19

0    mac
1    mac
2     pc
3    mac
4    mac
Name: type_of_computer, dtype: object

Predictor dataset size:19

   price  configurations  gaming   security  designing
0      2               2        2         1          1

## Separating the target variable - test data

In [8]:
test_target = test_data['type_of_computer']
test_predictors = test_data.drop('type_of_computer', axis = 1)

print("Target dataset size:{}".format(len(test_target)))
display(test_target.head(5))

print("\nPredictor dataset size:{}".format(len(test_predictors)))
display(test_predictors.head())

Target dataset size:2

10     pc
18    mac
Name: type_of_computer, dtype: object

Predictor dataset size:2

,Timestamp,name,why_nanodegree,something_interesting,price,configurations,gaming,security,designing
10,2/11/2017 10:34:01,Subhakar,Understand the workings of Machine Learning,Applying machine learning to network management,2,1,2,2,1
18,2/11/2017 10:35:12,Radesh,interesting field to get in.,like to run long distance,2,2,2,2,2

## Building the Decision Tree Classifier

In [10]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(train_predictors, train_target)

## Retrieving test data

In [11]:
print("\nStudent test data:{}".format(len(test_predictors)))
display(test_predictors.head(3))
student_test_data_final = [test_predictors]

Student test data:2

,Timestamp,name,why_nanodegree,something_interesting,price,configurations,gaming,security,designing
10,2/11/2017 10:34:01,Subhakar,Understand the workings of Machine Learning,Applying machine learning to network management,2,1,2,2,1
18,2/11/2017 10:35:12,Radesh,interesting field to get in.,like to run long distance,2,2,2,2,2

## Making predictions

In [12]:
student_test_data = [[2, 1, 2, 2, 1], # Student 1
                     [2, 2, 2, 2, 2]] # Student 2
             


for i, computer in enumerate(clf.predict(student_test_data)):
    print "Predicted type of student {}'s computer: {}".format(i+1, computer)

print " "

for i, actual in enumerate((test_target)):
    print "Actual type of student {}'s computer: {}".format(i+1, actual)b

Predicted type of student 1's computer: mac
Predicted type of student 2's computer: mac

Actual type of student 1's computer: pc
Actual type of student 2's computer: mac

In [17]:
(clf)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [19]:
clf.feature_importances_

array([ 0.3559322 ,  0.39564165,  0.        ,  0.        ,  0.24842615])